{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/from.css">
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
        <h4 class="card-title text-center mb-4">Giriş Yap</h4>
        <form method="POST" action="{{ url_for('login') }}">
            <div class="mb-3">
                <label for="email" class="form-label">E-posta</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="ornek@mail.com" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Şifre</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Şifrenizi girin" required>
            </div>
            <button type="submit" class="btn btn-secondary w-100">Giriş Yap</button>
            <div class="text-center mt-3">
                <small>Hesabınız yok mu? <a href="{{ url_for('register') }}">Kayıt Ol</a></small>
            </div>
        </form>
    </div>
</div>
{% endblock %}
